<!DOCTYPE html>
<!-- saved from url=(0044)http://getbootstrap.com/examples/jumbotron/# -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="./Jumbotron Template for Bootstrap_files/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href='/home'>Eargasm</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <%= form_tag( '/login' , method: :post, :class => 'navbar-form navbar-right') do %>
            
            <% if @errormessage.present? %>
            <div class="form-group">
                <span class = 'error'> <%= @errormessage %> </span>
            </div>
            <% end %>
            <div class="form-group">
              <input name = 'loginemail' type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input name = 'loginpassword' type="password" placeholder="Password" class="form-control">
            </div>
            <input type = 'submit' class='btn btn-success' value = 'Sign in' />
        <% end %>
            
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron"  id = 'headphones'>
      <div class="container" >
        <h1>Hello, Eargasm.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius congue tortor, eu pellentesque magna eleifend sit amet. Sed iaculis quam nibh, a vestibulum nunc gravida sit amet. Nullam quis ultrices quam. Suspendisse eu fringilla neque, in interdum ex. Sed ultricies non felis non finibus. Integer pulvinar magna id arcu consequat, ornare dictum erat accumsan. Cras consequat facilisis dictum. Suspendisse non sagittis lorem. Donec lectus lectus, ultricies nec nulla nec, tristique suscipit nunc.</p>
        <p><a class="btn btn-primary btn-lg"  href='/new_user' role="button">Sign up to learn more »</a></p>
      </div>
    </div>

    <div class="container">
    <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="./Jumbotron Template for Bootstrap_files/Jumbotron Template for Bootstrap.html" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="./Jumbotron Template for Bootstrap_files/Jumbotron Template for Bootstrap.html" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="./Jumbotron Template for Bootstrap_files/Jumbotron Template for Bootstrap.html" role="button">View details »</a></p>
        </div>
      </div>
  

      <hr>

      <footer>
        <p>© Ear & Gasm Co. 2015 </p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./Jumbotron Template for Bootstrap_files/jquery.min.js"></script>
    <script src="./Jumbotron Template for Bootstrap_files/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./Jumbotron Template for Bootstrap_files/ie10-viewport-bug-workaround.js"></script>
  

</body></html>

